@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700');
.modal-header {
    padding: 15px;
    border-bottom: none !important;
}
.newsletter-image{
    width: 100%;
    position: relative;
    top: -50px;
    left: -22px;
    }

    #modeal-position{
        margin-top: 10%;
    }
#submit-new-latter{
    margin-top: 10px;
    width: 80%;
    background: #60bd6a;
    border: 1px solid #60bd6a;
    padding: 8px;
    color: white;
    border-radius: 5px;
} 
#news-latter-email {
    border: 1px solid #60bd6a;
    padding: 12px;
    width: 80%;
    border-radius: 5px;
}  
.news-peragraph{
    position: relative;
    top: -8px;
}
.news-header{
position: relative;
top: -15px;
}